@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

*{
    box-sizing: border-box;
}

.main-header {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url("../Imagenes/fondoPag_principalv2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Delius', sans-serif;
    position: relative;

}


.pantallas {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*height: 100vh;*/
    font-family: 'Delius', sans-serif;
    position: relative;
}

.container {
    font-family: 'Delius', sans-serif;
    width: 100%;
    display: flex;
    max-width: 1500px;
    position: absolute;
    top: 20%;
    left: 0%;
    
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido h3{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{ 
    background: #2fb4cc;
    color: #fff;
}

.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: black;
}

.title-cards h2{
	font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
    font-family: 'Delius', sans-serif;
}


.main-nav {
    /*background: red;*/
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.logo {
    /*background: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: aliceblue;

}

ul {
    /*background: cadetblue;*/
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: aliceblue;
}

ul li a:hover {
    background: rgb(14, 220, 151);
}

.content-header {
    color: aliceblue;
    
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    text-shadow: 2px 2px 2px black ;
}

.content-header h1 {
    font-size: 6rem;
}

.content-header p {
    font-size: 1.5rem;
    margin: 15px 30px;
}

.content-header a {
    font-size: 1.3rem;
    display: inline-block;
    padding: 15px 20px;
    background: rgb(14, 220, 151);
    color: aliceblue;
    border-radius: 15px;
}

.content-header a:hover {
    background: rgb(96, 235, 188);
    border: 2px solid white;
    padding: 13px 18px;
}

div.galeria {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;

    
    top: 30%;
    left: 50%;
}

div.galeria img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

div.galeria:hover {
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
    border-radius: 15px;

}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
    font-size: 40px;
    border-radius: 15px;
}
