@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

*{
    box-sizing: border-box;
}

.main-header {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url("../Imagenes/fondoPag_principalv2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Delius', sans-serif;
    position: relative;

}

.main-nav {
    /*background: red;*/
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.logo {
    /*background: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: aliceblue;

}

ul {
    /*background: cadetblue;*/
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

ul li a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: aliceblue;
}

ul li a:hover {
    background: rgb(14, 220, 151);
}

.content-header {
    color: aliceblue;
    
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    text-shadow: 2px 2px 2px black ;
}

.content-header h1 {
    font-size: 6rem;
}

.content-header p {
    font-size: 1.5rem;
    margin: 15px 30px;
}

.content-header a {
    font-size: 1.3rem;
    display: inline-block;
    padding: 15px 20px;
    background: rgb(14, 220, 151);
    color: aliceblue;
    border-radius: 15px;
}

.content-header a:hover {
    background: rgb(96, 235, 188);
    border: 2px solid white;
    padding: 13px 18px;
}

div.galeria {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;

    
    top: 30%;
    left: 50%;
}

div.galeria img {
    width: 100%;
    height: auto;
}

div.galeria:hover {
    border: 1px solid lightcoral;
    transform: rotate(-3deg);

}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
    font-size: 40px;
}
